*{
   margin:0;
  padding:0;
  box-sizing:border-box;
}
ul{
  list-style:none;
}
a{
  text-decoration:none;
  color:#efefef;
  font-family:tahoma;
  font-size:14px;
}
.accordianMenu{
  width:200px;
  margin:10px auto;
  padding:10px;
  background-color:#333;
}
.accordianMenu li a{
  height:30px;
  display:block;
  line-height:30px;
  border-bottom:1px solid #222;
}
.accordianSubMenu{
  display:none;
  background-color:#444;
  overflow:hidden;
  }
.accordianSubMenu li a{
  text-indent:10px;
}
.submenu{
  position:relative;
}
.submenu:after{
  content:"";
  position:absolute;
  top:10px;
  right:10px;
  border-left:5px solid #40DBE5;
  border-top:5px solid transparent;      
  border-bottom:5px solid transparent;
  transition:all ease-in-out 0.3s;
}
.submenu.current:after{
  transform:rotate(45deg);
  transition:all ease-in-out 0.3s;
  border-left:5px solid #fff;
}
.active{}